.skills_container {
  grid-template-columns: repeat(2, 350px);
  column-gap: 3rem;
  justify-content: center;
}
.skills_content {
  box-shadow: 6px 8px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
}
.skills_title {
  font-size: normal;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.skills_box {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}
.skills_group {
  display: grid;
  align-items: flex-start;
  row-gap: 1.25rem;
}
.skills_data {
  display: flex;
  column-gap: 0.5rem;
}
.skills .bx {
  font-size: 1.25rem;
}
.skills_name {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  line-height: 18px;
}
@media screen and (max-width: 992px) {
    .skills_container {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}
@media screen and (max-width: 425px) {
    .skills_container {
        grid-template-columns: 1fr;
    }
    .skills_content {
        padding: 1.5rem;
    }
    .skills_box {
        column-gap: 1.25rem;
    }
    .skills_name {
        font-size: 18px;
    }
}
