.about_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}
.about_img {
    width: 350px;
    height: 380px;
    border-radius: 1.5rem;
    justify-self: center;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8);
}
.about_info {
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    margin-bottom: 25px;
}
.about_box {
    box-shadow: 6px 8px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}
.about_icon {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 5px;
}
.about_title {
    font-size: 18px;
    font-weight: 600;
}
.about_subtitle {
    font-size: 14px;
    font-weight: 400;
}
.about_description {
    padding: 0 4rem 0 0;
    margin-bottom: 25px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
}
@media screen and (max-width:992px) {
    .about_container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }
    .about_img {
        width: 220px;
        height: 240px;
    }
    .about_box {
        padding: 0.75rem 0.5rem;
    }
    .about_data {
        text-align: center;
    }
    .about_info {
        justify-content: center;
    }
    .about_description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}
  @media screen and (max-width:576px) {
    .about_info  {
        grid-template-columns: repeat(3, 1fr);
    }
    .about_description {
        padding: 0;
    }
  }
  @media screen and (max-width:350px) {
    .about_info {
        grid-template-columns: repeat(2, 1fr);
    }
  }