.button{
    color: #000;
    text-decoration: none;
    backdrop-filter: blur(10px);
    box-shadow:10px 4px 8px 6px rgba(0, 0, 0, 0.8);   
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    transition: .3s;
  }
  .button:hover{
    color:#000;
    font-weight: bolder;
    background-color: transparent;
    border: 0.2px solid #333;
    cursor: pointer;
    transform: scale(1);
    transition: .2s;
  }
  /*.home_scroll-button:hover {
    color: #f9004d;
  }*/
  .home_container{
    row-gap: 3rem;
  }
  .home_content {
    grid-template-columns: 116px repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
  }
  .home_social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
  }
  .home_social-icon {
    font-weight: 900;
    font-size: 1.65rem;
    color: #000;
  }
  .home_social-icon:hover {
    color: #f9004d;
  }
  .home_title {
    font-size: 58px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .home_hand {
    width: 38px;
    height: 38px;
    margin-left: 0.5rem;
  }
  .home_subtitle {
    position: relative;
    font-size: 30px;
    padding-left: 5.4rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .home_subtitle::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: #333;
    left: 0;
    top: 1rem;
  }
  .home_description {
    max-width: 350px;
    margin-bottom: 40px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
  }
  .home_image {
    background: url(../../Assets/images/BID_0012\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8);
    order: 1;
    justify-self: center;
    width: 300px;
    height: 400px;
    animation: profile_animate 8s ease-in-out infinite 1s;
  }
  @keyframes profile_animate {
    0% {
        border-radius: 60% 40% 30% 20%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 45% 25%/50% 60% 30% 45%;
    }
    100% {
        border-radius: 60% 40% 30% 25%/60% 30% 70% 40%;
    }
  }
  .home_scroll {
    margin-left: 9.25rem;
  }
  .wheel {
    animation: scroll 2s ease infinite;
  }
 @keyframes scroll {
  0%{
    transform: translateY(0);
  }
  30%{
    transform: translateY(3.75rem);
  }
 }
 .home_scroll-name {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin-right: 5px;
  margin-left: 2px;
 }
 .home_scroll-arrow {
  color: #000;
  font-size: 1.25rem;
 }
 @media screen and (max-width:992px){
  .home_content {
    grid-template-columns: 100px repeat(2, 1fr);
    column-gap: 1.25rem;
  }
  .home_hand {
    width: 26px;
    height: 26px;
  }
  .home_subtitle {
    padding-left: 3.75rem;
    margin-bottom: 10px;
  }
  .home_subtitle::before {
    width: 42px;
    top: 0.8rem;
  }
  .home_description {
    max-width: initial;
    margin-bottom: 20px;
  }
  .home_image {
    width: 250px;
    height: 350px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8);
  }
  .home_scroll {
    margin-left: 7.5rem;
  }
  .home_title {
    font-size: 50px;
   }

}
@media screen and (max-width:768px){
 .home_content{
  grid-template-columns: 0.5fr 1fr;
  padding-top: 1.5rem;
 }
 .home_image {
  order: initial;
  justify-self: initial;
 }
 .home_data {
  grid-column: 3/3;
 }
 .home_image {
  width: 200px;
  height: 250px;
 }
 .home_scroll {
  display: none;
 }
 .home_title {
  font-size: 55px;
 }
}

@media screen and (max-width:425px) {
  .home_content{
    grid-template-columns: 1fr 3fr;
    padding-top: 0.25rem;
   }
  .home_data {
    grid-column: 1/3;
   }
  .home_image {
    width: 130px;
    height: 150px;
  }
  .home_hand {
    width: 22px;
    height: 22px;
  }
  .home_title {
    font-size: 45px;
    margin-bottom: 1px;
   }
   .home_subtitle {
    position: relative;
    font-size: 30px;
    padding-left: 3rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .home_subtitle::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 1px;
    background-color: #333;
    left: 0;
    top: 1rem;
  }
   .home_description {
    max-width: initial;
    margin-bottom: 10px;
  }
   .button{
    margin-left: 80px;
   }
}