.contact_container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  column-gap: 6rem;
  padding-bottom: 3rem;
  overflow: hidden;
}
.contact_title {
  text-align: center;
  margin-bottom: 15px;
}
.contact_info {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 300px;
}
.contact_form {
  width: 360px;
}
.contact_card {
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 0.75rem;
  text-align: center;
}
.contact_card-icon {
  font-size: 2rem;
  color: #f9004d;
  margin-bottom: 10px;
}
.contact_card-title,
.contact_card-data {
  font-size: 18px;
}

.contact_card-title {
  font-weight: 600;
}
.contact_card-data {
  display: block;
  margin-bottom: 35px;
}
.contact_button {
  color: #555;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
}
.contact_button:hover .contact_button-icon {
  transform: translateX(0.25rem);
}
.contact_button-icon {
  font-size: 1rem;
  transition: 0.3s;
}
.contact_button:hover {
  border: 1px solid #f9004d;
  color: #f4004d;
}
.contact_form-div {
  position: relative;
  margin-bottom: 20px;
  height: 4rem;
}
.contact_form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.3);
  outline: none;
  border-radius: 0.75rem;
  background: none;
  padding: 1.5rem;
  z-index: 1;
}
.contact_form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: 18px;
  color: #333;
  padding: 0.25rem;
  /* background-color: #eee; */
  z-index: 10;
  backdrop-filter: blur(5px);
}
.contact_form-area {
  height: 11rem;
}
.contact_form-area textarea {
  resize: none;
}

@media screen and (max-width: 992px) {
  .contact_container {
    column-gap: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .contact_container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  .contact_info {
    justify-content: center;
  }
  .contact_form {
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .contact_info {
    grid-template-columns: 1fr;
  }
  .contact_form {
    width: 100%;
  }
}
