.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  /*backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
  overflow: hidden;
}
@media screen and (min-width: 769px) {
  .header.blur {
    backdrop-filter: blur(10px);
  }
}
.nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
.nav_logo,
.nav_toggle {
  color: #333;
  font-weight: 600;
  font-size: 28px;
}
span {
  color: #f9004d;
}
.nav_list {
  display: flex;
  column-gap: 2rem;
}
.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 19px;
  color: #333;
  font-weight: 600;
  transition: 0.3s;
}
.nav ul li a:hover {
  color: #f9004d;
  transition: 1s;
  transform: scale(1.3);
}
ul:hover li a:not(:hover) {
  opacity: 0.3;
  filter: blur(1px);
}
.nav_icon,
.nav_close,
.nav_toggle {
  display: none;
}

.active-link,
.nav_link:hover {
  color: var(--title-color);
}


/*BREAKPOINTS*/
/*TABLET*/
@media screen and (max-width: 768px) {
  .header {
    top: initial;
    bottom: 0;
  }

  .nav {
    height: 50px;
  }
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem 4rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }

  /*SHOW MENU*/
  .show-menu {
    bottom: 0;
  }
  .nav_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .nav_icon {
    font-size: 1.2rem;
  }
  .nav_close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
  }
  .nav_close:hover {
    color: #f9004d;
  }
  .nav_toggle {
    font-size: 1.75rem;
    cursor: pointer;
    font-weight: 600;
  }

  .nav_icon,
  .nav_close,
  .nav_toggle {
    display: block;
  }
}

/*MOBILE*/
@media screen and (max-width: 425px) {
  .nav_menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav_list {
    column-gap: 0;
  }
}
