
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html 
{
  scroll-behavior: smooth;
  background: transparent;
}
body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
body{
  
  color: var(--text-color);
  background: transparent;
}
h1, h2, h3{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul{
  list-style: none;
}
a {
  text-decoration: none;
}
button{
  cursor: pointer;
  border: none;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}

.section{
  padding: 6rem 0 2rem;
}
.section_title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
}
.section_subtitle{
  display: block;
  font-weight: var(--small-font-size);
  margin-bottom: 4rem;
}
.section_title,
.section_subtitle{
  text-align: center;
}
.container{
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}
.grid{
  display: grid;
  gap: 1.5rem;
}
.button{
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}
.button:hover{
  background-color: var(--title-color-dark);
}
.button_icon{
  margin-left: var(--mb-0-5);
}
.button--flex{
  display: inline-flex;
  align-items: center;
}
@media screen and (max-width:992px){
  .container{
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
}
@media screen and (max-width:425px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}