
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html 
{
  scroll-behavior: smooth;
  background: transparent;
}
body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: 18px;
}
body{
  
  color: #000;
  background: transparent;
}
h1, h2, h3{
  color: #000;
  font-weight: 600;
}
ul{
  list-style: none;
}
a {
  text-decoration: none;
}
button{
  cursor: pointer;
  border: none;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}

.section{
  padding: 6rem 0 2rem;
}
.section_title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
}
.section_subtitle{
  display: block;
  font-weight: var(--small-font-size);
  margin-bottom: 4rem;
}
.section_title,
.section_subtitle{
  text-align: center;
}
.container{
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}
.grid{
  display: grid;
  gap: 1.5rem;
}
.button_icon{
  margin-left: 15px;
}
.button--flex{
  display: inline-flex;
  align-items: center;
}
@media screen and (max-width:992px){
  .container{
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width:425px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}